
$default-black: #222831;
$default-grey: #393E46;
$default-aqua: #00ADB5;
$default-white: #EEEEEE;

.image {
  max-height: 138px;
  max-width: 174px;
}

.product_div {
  background-color: #FFF;
  max-height: 450px;
  max-width: 240px;
  min-width: 240px;
  border-left: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
  padding: 53px 23px 16px 23px;
  span {
    cursor: auto;
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;
  }
  img {
    display: block;
    margin: 0 auto;
    cursor: pointer;
  }
}

.title {
  margin-top: 20px;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: $default-black;
}
.link:hover {
  text-decoration: none;
  color: $default-black;
}
.link:visited {
  text-decoration: none;
  color: $default-black;
}
.link:active {
  text-decoration: none;
  color: $default-black;
}

.button {
  float: right;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: none;
  // background-color: #816ae8 ;   альтернативний колір
  background-color: #1fb0a8 ;
}

.image_div {
  height: 140px;
  width: 180px;
  img {
    user-select: none;
  }
}