.cart {
  padding-left: 24px;
  padding-right: 24px;
  z-index: 100;
  background-color: #fff;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: auto;
  width: 430px;
  h3 {
    font-size: 30px;
    margin-top: 24px;
    margin-bottom: 24px;
    display: inline-block;
  }
}

.close {
  float: right;
  margin-top: 24px;
  cursor: pointer;
  user-select: none;
}

