$default-padding: 0 20rem;

.photo {
  max-height: 30rem;
  // padding: 0 20rem;
  // max-height: 500px;
}

.wrapper_product {
  
}

.product_header {
  background: white;
  padding: $default-padding
  // width: 
}