.top_bar {
  background-color: #222831;
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  button {
    color: white;
    border: none;
    border-radius: 25px;
  }

  button:hover {
    cursor: pointer;
  }
  .create_account_button {
    margin-right: 60px;
  }
}
.regular_button {
  margin: 10px;
  // padding-left: 15px;
  // padding-right: 15px;
  background: #393E46;
  color: white;
  border: none;
  border-radius: 25px;
}

.login_button {
  position: relative;
  background: #393E46;
  color: white;
  border-radius: 25px;
  width: 102px;
  height: 36px;
  position: relative;
  padding-left: 20px;
  margin-right: 20px;
  margin-left: 20px;
  // border: 1px;
  img {
    position: absolute;
    left: 11px;
    bottom: 9px;
    margin-right: 3px;
    width: 19px;
    // right: 2px;
  }
}