.top_bar {
  background-color: black;
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  button {
    margin: 10px;
    padding-left: 15px;
    padding-right: 15px;
  }
  button:hover {
    cursor: pointer;
  }
  .create_account_button {
    margin-right: 60px;
  }
}

.login_button {
  background: #373434;
  color: white;
  border-radius: 25px;
  border: 1px;
  img {
    margin-right: 3px;
    width: 19px;
  }
}