.login_input_field {
  height: 35px;
  outline: none;
}

.logo_div {
  text-align: center;
  font-size: 50px;
}

.login_text {
  text-align: center;
  font-size: 20px;
}

.login_form_centring_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 90px;
}

.login_form_sizing_div {
  display: flex;
  flex-direction: column;
  background-color: #dadbf1;
  width: 100%;
  max-width: 640px;
  border: 1px solid lightgray;
  padding: 25px;
  border-radius: 20px;
}
.login_form_sizing_div button {
  margin-top: 20px;
}
.login_form_sizing_div label {
  margin-top: 15px;
  margin-bottom: 4px;
}