.password_field_div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  border: 1px solid grey;
  input {
    width: 100%;
    position: relative;
    border: none;
    outline: none;
  }
  button {
    background-color: white;
    height: 35px;
    width: 50px;
    margin: 0;
    border: none;
    outline: none;
    cursor: pointer;
  }
  button:hover {
    background-color: lightgrey;
  }
}